<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/503235060a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>Bookers</p>
      <p><i class="fas fa-home"></i>Home</p>

      <% if user_signed_in? %>
        <li>
          <%= link_to  destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>logout
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to about_path, method: :get do %>
            <i class="fas fa-link"></i>about
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path, method: :get do %>
            <i class="fas fa-user-plus"></i>sign up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path, method: :get do %>
            <i class="fas fa-sign-in-alt"></i>login
          <% end %>
        </li>
      <% end %>
    </header>

    <%= yield %>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
